<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Attendees:</strong> <br/>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.name %> | <%= attendee.email %> | <%= attendee.phone_number %> <br/>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<%= link_to 'New Attendee', new_attendee_path(event_id: @event.id) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
